@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background: linear-gradient(180deg,rgba(31, 2, 192, 1) 0%, rgba(36, 129, 166, 1) 100%); */
background: linear-gradient(180deg,rgba(25, 12, 102, 1) 0%, rgba(111, 92, 218, 1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  
  flex-direction: column; /* กำหนดให้ child เรียงแนวตั้ง */
  overflow-x: hidden; /* ซ่อน scrollbar แนวนอน */
  /* overflow-y: hidden; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
